<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- 页面标题 -->
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  
  <!-- SEO 和社交分享 -->
  {% include seo.html %}
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  
  <!-- RSS Feed -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">
  
  <!-- Stylesheet -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
</head>